.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.home button{
    background-color: lightskyblue;
    border-bottom:1px black;
    color: whitesmoke;
    border-radius: 10px;
    font: 16px Arial;
}

.home h2{
    font: 24px sans-serif;
    
}